.card {
    background-color: white;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
    width: 450px;
    height: 120px;
    border-radius: 20px;
    margin: 20px 0px 10px 35px;
    padding: 10pt;
    cursor: pointer;
    transition: all 0.1s linear;
}

.card:hover {
    transform: scale(1.03);
}

.main {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 20pt;
    font-weight: 700;
    display: flex;
    flex-direction: row;
}

.category_btn {
    background-color: #4355b1;
    color: white;
    width: 70px;
    height: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-size: 10pt;
    font-weight: 700;
    border-radius: 5rem;
    margin: 3pt 2pt 0 auto;
  }