.modal {
  position: relative;
  max-width: 800px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background: white;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
  margin: 10px;
}

.modal__content {
  padding: 20px;
  color: black;
}

.modal__top {
  border-bottom: dashed;
  border-color: #333333;
  border-width: 1px;
}

.modal__title {
  position: relative;
  padding: 3px;
  font-size: 20px;
  margin: 16px 0;
  border: 0;
}

.modal__type {
  position: absolute;
  width: 100px;
  height: 30px;
  left: 20px;
  top: 10px;
  font-size: 16px;
  color: #4355B1;
  border: 0;
  cursor: pointer;
}

.modal__date {
  font-size: 12px;
  color: #6f6f6f;
}

.modal__text {
  font-size: 14px;
  margin: 30px;
  border: 0;
}

.footer {
  text-align: center;
}

.cancel {
  background-color: #6b6b6b;
  color: white;
  width: 100px;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5rem;
  margin-right: 5px;
}

.save {
  background-color: #4355b1;
  color: white;
  width: 100px;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5rem;
}

.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper_modal {
  position: fixed;
  inset: 0px;
  background-color: rgb(0 0 0 / 71%);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
}

.presentation {
  z-index: 1200;
  position: absolute;
}

.modal_close {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
  z-index: 1000;
  color: black;
}

@media screen and (max-height: 768px) {
  .wrapper-modal {
    align-items: unset;
    padding-top: 2rem;
  }
  .modal {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 768px) {
  .modal__overview {
    font-size: 16px;
  }
  .modal__details {
    font-size: 16px;
  }
  .wrapper-modal {
    padding: 0;
  }
  .modal {
    overflow-y: scroll !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
