.container {
  width: 100vw;
  height: 90vh;
}

.label {
  position: absolute;
  top: 10px;
  right: 260px;
}

.p {
  position: relative;
  top: 300px;
}

.addButton {
  position: relative;
  top: 257px;
  left: 330px; /* Adjust the value to move the button more to the left */
}

.top {
  width: 100%;
  height: 50px;
}

.top h1 {
  font-size: 20px;
  margin: 20px 30px;
}

.bottom {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.contents {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1290px;
  height: 650px;
}

.contentBox {
  background-color: rgb(245, 245, 245);
  border-radius: 0 10px 10px 0;
  width: 1080px;
  height: 650px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.16);
  overflow-x: auto;
  overflow-y: hidden;
  position: relative; /* Add position relative */
}

.contentTop {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div1 {
  background-color: white;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
  margin-left: 40px;
  margin-top: 40px;
}

.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8,
.div9{
  background-color: white;
  width: 15%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: -20px; /* Adjust the value to change the vertical position */
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.div2 {
  left: 100px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div3 {
  left: 20px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div4 {
  left: 30px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div5 {
  left: 40px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div6 {
  left: 510px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div7 {
  left: 60px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div8 {
  left: 70px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div9 {
  left: 80px;
  top: 320px;
  height: 300px;
  width: 20%;
}

.div10 {
  position: absolute;
  background-color: white;
  width: 400px;
  height: 380px;
  border-radius: 20px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
  left: 0px;
  top: 220px;
  margin-left: 40px;
  margin-top: 40px;
}

.h3 {
  position: absolute;
  background-color: white;
  width: 400px;
  height: 380px;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.16);
  left: 0px;
  top: 220px;
  margin-left: 40px;
  margin-top: 40px; 
}

.div1Label{
  top: 20%;
  position: relative;
  background-color: #fff;
  padding: 10px;
  width: 200px;
  left : 800px;
}

.divSubject {
  background-color: #fff;
  padding: 10px;
  width: 90%;
  text-align: left;
  /* Remove left margin to align to the left */
}

.line1 {
  display: flex;
  height: 85px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -10px;
}

.line2 {
  display: flex;
  height: 85px;
  align-items: center;
}

.left {
  height: 100%;
  display: flex;
  align-items: center;
}

.circle {
  background-color: rgb(0, 48, 135);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 800;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.16);
  margin: 0 30px;
}

.todoContainer {
  height: 100%;
  width: 70%;
}

.contentBottom {
  width: 100%;
  height: 65%;
  display: flex;
}
