.prof_bottom span {
  color: rgb(237, 237, 237);
  font-size: 14px;
  font-weight: 600;
}

.prof_bottom input {
  border: none;
  border-radius: 7px;
  color: black;
  font-size: 13px;
  margin-left: 10px;
  width: 150px;
  height: 25px;
  margin-right: 50px;
  border: 1px solid rgb(147, 147, 147);
}

.prof_bottom input:focus {
  outline: none;
}

.prof_bottom input:disabled {
  background-color: rgba(255, 255, 255, 0.563);
}

.container {
  width: 95vw;
  height: 90vh;
}

.top {
  width: 100%;
  height: 10%;
}

.top h1 {
  font-size: 20px;
  margin: 20px 30px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 90%;
}

.profile {
  background-color: rgba(0, 47, 135, 0.948);
  width: 300px;
  height: 430px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16), 0 5px 8px rgba(0, 0, 0, 0.23);
  position: absolute;
  display: flex;
  flex-direction: column;
}

form {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.lottie {
  height: 150px;
  margin: auto;
  margin-right: 10px;
  margin-top: 10px;
}

.prof_bottom {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 95px;
}

.prof_top {
  height: 230px;
  padding-top: 5px;
}

.prof_top h2 {
  font-size: 20px;
  text-align: center;
  color: rgb(237, 237, 237);
  width: 70px;
  margin: auto;
  margin-top: 10px;
  font-weight: 800;
}

.inputBox {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  align-items: center;
}

.buttonBox {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBox button {
  border: none;
  background-color: rgb(237, 237, 237);
  border-radius: 15px;
  width: 70px;
  height: 30px;
  cursor: pointer;

  font-size: 14px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: transform 0.2s ease-in-out;
}

.buttonBox button:hover {
  transform: scale(1.05);
}

.errorMsg {
  font-size: 13px;
  font-weight: 550;
  color: tomato;
  margin: auto;
  animation-name: horizontal-shaking;
  animation-duration: 1s;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(1px);
  }
  25% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  55% {
    transform: translateX(1px);
  }
  70% {
    transform: translateX(-1px);
  }
  85% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
