.container {
  width: 100%;
  height: 40px;
  border-bottom: 1px dotted;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.container div {
  margin-left: 5px;
}

.container span {
  margin-left: 10px;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-right: 10px;
}

.checkbox {
  width: 0px;
  height: 0px;
  position: absolute;
  opacity: 0;
}

.input {
  border: none;
  margin-left: 10px;
}
